header{
	width: 75%;
	margin: auto;
}

header h2:hover{
	border-top:#0065FC solid 3px;
}

header h2{
	margin-right: 20px;
}

.logo{
	margin-left: 0px;
}

.loupe{
	visibility: hidden;
}

#accommodations_part{
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}

.blue_line{
	border-top: 3px solid blue;
}

nav{
	width: 75%;
	margin: auto;
}

/* Placement Marseille*/
#Marseille_accommodations{
	width: 65%;
	padding: 10px;
	background: #F2F2F2;
}

.Marseille_accommodations_row{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding-top: 20px;
}

.accommodation{
	margin: 8px;
	width: 210px;
}

.accommodation img{
	display: block;
	height: 100px;
}

a{
	display: contents;
}

#filters{
	padding: 10px 0px;
}

/* Popular Placement */
#Populars{
	width :calc(30% - 10px);
	padding: 15px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	padding: 0px;
}

#Popular_header{
	display: flex;
}

	#Popular_header h1{
	flex: 1;
	}

	#Popular_header i{
		display: flex;
		justify-content: center;
		align-items: center;
	}

#Popular_column{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex: 1;
}

.Popular_accommodation{
	margin: 5px;
	max-height: 170px;
}


#Populars img{
	display: block;
	width: 117px;
	height: 137px;
	min-height: 100%;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	min-width: 117px;
}



.Popular_description{
	padding: 10px;
}

.Popular_description_text{
	flex: 1;
}

.Popular_description_text h4{
	font-size: 15px;
}

.Popular_description_text p{
	font-size: 12px;
}

/* Activities */
.activities{
	display: flex;
	justify-content: space-between;
	height: 500px;
}

.first_activity{
	margin: 0px;
}

.activity{
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
}

.simple .activity{
	height: 100%;
}

.double .activity{
	max-height: 44%;
}

.activity img{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	flex: 1;
	max-height: 90%;
}

.activity p{
	font-size: 16px;
	font-weight: bold;
	box-sizing: content-box;
}

.double img{
	max-height: 75%;
}

.activities_column{
	margin-bottom: 10px;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	margin: 15px;
	margin-left: 20px;
	margin-right: 20px;
	justify-content: space-between;
}

.activities_column:first-child{
	margin-left: 0px;
}

.activities_column:last-child{
	margin-right: 0px;
}

.double .activity{
	margin-bottom: 5px;
	margin-top: 5px;
}

.activity_name{
	height: 50px;
}

.footer_list{
	margin: auto;
}