/* General */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
	font-family: Raleway,Arial black,Calibri;
}

body{
	margin: 0px;
	margin-top: 0px;
	padding-top: 0px;
}

img{
	box-sizing: content-box;
	max-width: 100%;
	object-fit: cover;
	max-height: 100%;
}

a{
	text-decoration: none;
	color: black;
	display: contents;
}

.blue_star,.grey_star{
	font-size: 11px;
}
.blue_star{
	color: #0065FC;
}

.grey_star{
	color: #F2F2F2;
}

.price{
	font-weight: bold;
}

h4{
	font-size: 15px;
}

/* Header */
header{
	display: flex;
	flex-direction: row;
}

@media only screen and (max-width: 767px){
	header{
	flex-direction: column;
	justify-content: center;
	}

	header .logo{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#header_categorie{
	justify-content: center;
	margin-left: 10px;
	}

	.Filter{
		margin-bottom: 5px;
	}

	#Populars{
	width: 90%;
	align-self: center;
	}

	#Marseille_accommodations{
		width: 90%;
	}
}	
header .logo{
	flex: 1;
	max-width: 100%;
}

header h2 {
	border: solid white 3px;
}
header h2 *{
	color:#0065FC;
}


#header_categorie{
	display: flex;
}

#header_categorie h2{
	flex-direction: row;
	margin-right: 15px;
}
@media  screen and (min-width: 767px){
	#header_categorie h2{
		margin: 0px;
		margin-right: 20px;
		justify-content: center;
		display: flex;
		align-items: center;
	}
}

#header_categorie h2:hover *{
	color: blue;
}

.activity_color{
	color: grey;
}

.activity p{
	font-weight: bold;
}

/* Nav */
nav,main{
	margin-left: 5px;
}
#Search form{
	display: flex;
	height: 40px;
	margin-bottom: 5px;
}

#Search .fa-map-marker-alt {
	background: #F2F2F2;
	padding: 10px;
	border-top-left-radius: 25%;
	border-bottom-left-radius: 25%;
	justify-content: center;
	display: flex;
	align-items: center;
}

#Search button{
	background: #0065FC;
	color: white;
	border: none;
	margin-left: 0px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

#Search button:active{
	background: #DEEBFF;
}

.loupe{
	background:  blue;
}

.fa-info-circle{
	color: blue;
}


/* Footer */
footer{
	background: #F2F2F2;
}

.footer_list{
	display: flex;
	justify-content: space-between;
	width: 80%;
}

@media only screen and (max-width: 767px){
	.footer_list{
		flex-direction: column;
	}
}

.footer_title_list{
	font-weight: bold;
}

footer ul{
	list-style: none;
}

footer ul li{
	margin-top: 10px;
}


/* Filtres */
#filters{
	flex-direction: row;
	display: flex;
	vertical-align: middle;
	flex-wrap: wrap;
}

.filters_buttons{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}


#filters h3{
	justify-content: center;
	display: flex;
	align-items: center;
	margin: 0px;
}

.Filter{
	display: flex;
	flex-direction: row;
	margin-left: 25px;
	border: #F2F2F2 solid 2px;
	height: min-content;
	border-radius: 50px;
}

.Filter:hover{
	cursor: pointer;
	border: yellow solid 1px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	color: blue;
}

.Filter i{
	color: #0065FC;
	background: #DEEBFF;
	padding: 5px;
	border-radius: 50%;
	margin: 0px;
	width: 30px;
	height: 30px;
	justify-content: center;
	display: flex;
	align-items: center;
	position: relative;
	right: 5px;
}

.Filter p{
	margin: 0px;
	margin-left: 5px;
	margin-right: 5px;
	justify-content: center;
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 767px){
	#filters{
	flex-direction: row;
	display: flex;
	flex-wrap: wrap;
	vertical-align: middle;
	}
}


/* Marseille beauty*/
#Marseille_accommodations{
	border-radius: 15px;
}

.accommodation{
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 15px;
	border: white 4px solid;
	border-radius: 15px;
	background: white;
	display: flex;
	flex-direction: column;
}

.accommodation:hover{
	border: 2px solid yellow;
}

.Marseille_acco_description *{
	margin: 0px;
}

.Marseille_acco_description{
	display: flex;
	flex-direction: column;
	flex: 1;
	padding-top: 2px;
	padding-left: 2px;
}

.Marseille_acco_names{
	flex: 1;
}

#Marseille_accommodations img{
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

/* Popular Beauty */
#Populars{
	background: #F2F2F2;
}

.Popular_accommodation{
	display: flex;
	background: white;
	border: 4px white solid;
	border-radius: 15px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Popular_accommodation:hover{
	border: 2px yellow solid;
}

.Popular_description{
	display: flex;
	flex-direction: column;
}

.Popular_description *{
	margin: 0px;
}

.Popular_description_text{
	flex: 1;
}

/* Activities beauty */
.activity{
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.activity p{
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	padding-left: 3px; 
	padding-top: 3px;
}

.activity_name{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: white;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}


